# React Native
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Metro bundler / Expo
.expo/
.expo-shared/

# iOS
ios/build/
ios/Pods/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcworkspace
DerivedData/
*.xcuserstate

# Android
android/.gradle/
android/app/build/
*.iml
.gradle/
local.properties
*.apk
*.aar
*.keystore
build/

# VS Code
.vscode/

# Mac / Linux
.DS_Store
*.swp
*.swo

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Misc
.env

# Azure DevOps / Azure Pipelines
# Ignore build artifacts
**/bin/
**/obj/
**/TestResults/
*.user
*.suo
*.nupkg
*.nuspec
*.cache
*.log
*.vs/
*.vscode/
*.pdb
*.mdb

# Azure Functions
.local.settings.json
